<div class="box-border h-34 w-42 p-4 border-2 m-3 flex-initial shadow bg-white rounded relative">
    <li *ngIf="pokemon">
        
        <section class="grid grid-cols-2">
            <div class="ml-14">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png">
                <span class="pokemon-name">{{ pokemon.name }} </span>
                <app-collect-button [pokemonId]="pokemon.id">
                </app-collect-button>
            </div>
        </section>
    </li>
</div>
