<nav class="bg-pokemon-red flex justify-between items-center p-4 sticky top-0 w-full shadow z-50" style="color:white">
    <span class="pokemon-title">Pokemon Trainer</span>

    <ng-container *ngIf="trainer !== undefined">
        <ul class="flex">
            <li class="p-2">
                <a class="hover:text-gray-400" routerLink="/pokemons">Pokemons</a>
            </li>
            <li class="p-2">
                <a class="hover:text-gray-400" routerLink="/trainer">Profile</a>
            </li>
            <li class="p-2">
                <a class="hover:text-gray-400" (click)="logoutTrainer()" routerLink="/login">Log out</a>
            </li>
        </ul>
    </ng-container>
</nav>
