 
 <div class="flex flex-col justify-center items-center gap-6">
    <h4 class="text-2xl mt-12">{{username}}s collected Pokemons:</h4>
 </div>

 <main class="container mx-auto p-4 flex items-center justify-center mt-4">
    <app-pokemon-list [pokemons]="pokemons"></app-pokemon-list>
 </main>
