
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class=" max-w-2xl mt-28 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 p-14 h-48">
    <div class="flex flex-row justify-center items-center">
      <div>
        <input type="text" 
        ngModel
        #username="ngModel"
        name="username" id="username" 
        class="bg-gray-200 appearance-none border-2 border-gray-400 rounded width-input py-2 px-4 text-gray-700 focus:outline-none focus:bg-white focus:border-blue-600 mr-4" 
        placeholder="Username">
      </div>
      <div class="">
        <button class="shadow bg-pokemon-blue hover:bg-blue-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded btn-login" type="submit">
          Login
        </button>
      </div>
    </div>
  </form>