<aside class="absolute top-12 right-4 mr-10">
    <button
     (click)="onCollectedClick()"> 
    <div *ngIf="!loading; else spinner">
        <span *ngIf="isCollected; then collected else notCollected"></span>
        <ng-template #collected> <img class="w-10" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"/></ng-template>
        <ng-template #notCollected><img class="black-white w-10" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"/></ng-template>
    </div>

    <ng-template #spinner>
        <span><img class="animate-spin w-10" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"/></span>
    </ng-template>
    </button>
</aside>