/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-dark-blue{
    background-color: #0f1b31;
}
.bg-pokemon-red{
    background-color: #CC0000;
}
.bg-pokemon-blue{
    background-color: #3B4CCA;
}
